body{
    background-image: url(https://media.istockphoto.com/id/1306947478/vector/geometric-abstract-background-in-transparent-blue.jpg?s=612x612&w=0&k=20&c=4l_PjB_GVYvSorvnC3onXCaKnpcXwmw-NxnF3HDOnhI=);
    background-repeat:no-repeat ;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 130vh;
    margin: 0;
    padding:0;
    margin-bottom: 15%;
    }
    ul li{
        list-style-type:none;
       }

       h2{line-height: 0px;}
@font-face {
    src:url(fonts/OneDirection.ttf)format("truetype");
    font-family: nos;
}
.paragraph{
    text-align: center;
    font-size: 30px;
    font-family:sans-serif;
}
.paragraph2{
    text-align:center;
    font-size: 100px;
    font-family: nos;
}
.menu-bar
{
text-align:center;
background-color: #000000;
}
.menu-bar ul
{
   display: inline-flex;
   color:floralwhite
}
.menu-bar ul li
{
    font-family: Impact;
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li:hover
{

    background: floralwhite;
    color: #000000;
    border-radius:3px;
}
.paragraph5{
    font-size: 20px;
    font-weight: 200;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;

}

h3{
    font-size: 50px;
}

.lets-go-btn{
    color: floralwhite;
    background: rgb(59, 47, 47);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: -15px; 
}
.lets-go-btn:hover{
    background: rgb(54, 1, 1);
}

.icons{
    display: flex;
    font-size: 3rem;
    margin-top:0;
    line-height: 0;
    align-items: flex-end;
    display: flex;
    gap: 1px;
    justify-content: center;
    
}

.icons a { margin-right:75px; }

.icons :hover{
    transform: scale(1.5);
}

.footer{
    background-color:black;
    margin-top:28%;
}
.p1{
    color: floralwhite;
    font-size: larger;
    padding-bottom: 10px;
    
}

section .topic a {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
}

.about .boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about .boxes .box {
	margin: 10px 10px;
	max-width: calc(100% / 3 - 50px);
	text-align: center;
	border-radius: 12px;
	padding: 30px 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
	cursor: default;
}



.contact {
	padding: 20px;
}

.contact .content {
	margin: 0 auto;
	padding: 30px 0;
}

.content .title {
	width: 80%;
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
}

.title {
	margin-bottom: 30px;
	margin-left: 80px;
}

.contactMenu {
	display: flex;
	justify-content: space-evenly;
}

.input2 {
	margin-top: 10;
}

.label1 {
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bolder;
}

.contactMenu .input1 input {
	border-radius: 13px;
	padding: 6px;
}

.input2 input {
	border-color: rgb(252, 244, 244);
	width: 400px;
}

.button {
	margin-top: 12px;
	margin-left: 5px;
}

.button button {
	width: 162px;
	height: 35px;
	border-radius: 12px;
	border-color: transparent;
}

.button button:hover {
	background-color: #8cc099;
}

button {
	width: 162px;
	height: 35px;
	border-radius: 12px;
	border-color: transparent;
}

button:hover {
	background-color: #8cc099;
}

.rightside1 {
	display: flex;
	flex-direction: column;
	margin-left: 300px;
}

.title1 {
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 5px;
	font-weight: bolder;
}

.content1 {
	width: 450px;
	margin-top: 2px;
	color: grey;
}

